.movie-recommendation{
    color: black;
}

.description{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.label{
        color: blue;
}

.title {
        color: rgb(35, 118, 233);
}

.poster {
    width: 200px;
    height: 300px;
}

.btn-open-movie{
    align-self: stretch;
}

/*
.movie {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    grid-auto-rows: 300px;
    }
*/